.search-bar {
    color:white;
    background-color: black;    
    border-color: white;
    width: 350px;
    height: 30px;
}

/* .search-bar-span-container {
    padding: 0px;
} */

form {
    display:inline;
}

.search-bar-component {
    padding: 20px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #1a1a1a;
}

span.place {
    padding:14px;
}