.trades { 
    table-layout: fixed;
    width: 100%;
    text-align:center;
    /* overflow-y: auto; */
    border-collapse: collapse;
}

.trades-container::-webkit-scrollbar {
    display: none;
}

th {
    color: red;
    top: 0;
    position: sticky;
    background-color: black;
    padding: 20px;
}

.trade-row:hover {
    background-color: #1a1a1a;
}

td {
    padding-bottom: 10px;
    padding-top: 10px;
}

.trades-container {
    overflow: auto;
    height: 500px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* padding: 30px; */
    /* padding-top: 30px; */
    border-style: solid;
    border-color: #1a1a1a;
    border-top: none;
    border-left: none;
    border-right: none;
}